.main-banner{
    background-image: url(../../assets/img/background4.gif);
    /**background-color: #000;**/
    height: 680px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-left: 80px;
    padding-top: 115px; 
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 760px;
    justify-content: center;
    margin-left: 350px;
    margin-top: 120px;
}


.main-banner .main-box{
    margin-bottom: 40px;
}


.main-banner .navigation{
    display: flex;
    justify-content: space-around; /** faz o espaçamento**/
}
