.main-section{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section._projects{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
    display: flex;
    justify-content: space-evenly;
}

.main-section._projects .ProjectImage{
    height: 280px;
    width: 280px;
    box-shadow: 3px 3px 0 #47f7b2;
    margin-right: 85px;
    margin-left: 85px;
}
